@inherits LayoutComponentBase

<PageTitle>BBC</PageTitle>

<div class="page body-Background">

    <main>
       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        <div class="">
            <NavMenu />
        </div>

        <article class="content px-4 body-Background">
            @Body
        </article>
    </main>
</div>
