@page "/About"
<body class = "body-index">

    <div class = "div1">

        <div class = "">
        
            @*<p class="h1class">BBC</p>*@
            @*<img class="logo" src="/images/logo.png" alt="sample" />*@
           
        
        </div>
        <div class = "menu-preview-settings">
             <div>
                <p class = "settings-header">About</p>
            </div>

             <div class ="outputcontainer">
                <div>
                    <p>This machine was built by Edrian "The 11 inch"</p>
                    <img class="profile-pic" src="images/edrian_prof.png" />
                    <br />
                    <br />
                    <p>and Bryant Procok</p>
                    <img class ="profile-pic" src="images/bryant_prof2.jpg" />
                </div>
            </div>

        </div>
        
    </div>

</body>


@code {

}
