@page "/"
@inject HttpClient Http
@using drinkMenu = BBC.Shared.Models

<PageTitle>Index</PageTitle>

<body class = "body-index">

    <div class = "div1">

        <div class = "">
        
            @*<p class="h1class">BBC</p>*@
            @*<img class="logo" src="/images/logo.png" alt="sample" />*@
           
        
        </div>


        @*<SurveyPrompt Title="How is Blazor working for you?" />*@

        <div class="menu-preview">
            <div class = "popular-header">
                <p class="pheader">Popular</p>
            </div>

            
      
           
             
              <div style="display: inline-block">
                    
                @foreach(var drink in popular_drinks)
                {
                   
                     <div class="drink-container" >

                        @*This Changes the Icon based on the item in the list, so if it is a shot it will display a shot glass 

                        instead of a cocktail glass*@
                        
                        <a class = "menu-button" href="/confirm/shot/@drink">
                        <div class = "drink-name">
                            <p class="drink-text">@drink.Name</p>
                        </div>
                            <img class="drink-picture" src="images/shot.png">
                        </a>
                            
                    
                    
                 
                    </div>
                }
        </div>
             



           <div class="menu-link">
            <NavLink class="nav-link" href="menu">
              
                    
                    <p class="menu-text">Full Menu</p>
                
               
                
                
            </NavLink>
        </div>

        <div class="survey-link">
            <NavLink class="nav-link" href="survey">
              
                    
                    <p class="survey-text">Survey</p>
                
               
                
                
            </NavLink>
        </div>
            
        </div>


       
    </div>
  
</body>




@code{
    public List<drinkMenu.Menu> popular_drinks { get; set; } = new List<drinkMenu.Menu>();


    string temp { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        //popular_drinks = await Http.GetFromJsonAsync<List<string>>("GetPopularDrinks");

        string type = "popular";
        //popular_drinks = await Http.GetFromJsonAsync<List<string>>($"Drinks/{type}");

        HttpResponseMessage response = await Http.GetAsync($"Drinks/{type}");

        if (response.IsSuccessStatusCode)
        {
            popular_drinks = await response.Content.ReadFromJsonAsync<List<drinkMenu.Menu>>();
        }
        else
        {
            popular_drinks = null;
        }
    }



}